<!DOCTYPE html>
<html>
<head>
    <title>Next Bus</title>
    <!-- Twitter bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/nextbus.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="js/geoposition.js"></script>
</head>
<body>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8_nX9UAjPSNth57C0w1_v-5cZ5eL9Ex0&sensor=true"></script>
    <script type="text/javascript">

    </script>

    <!-- Main page -->

    <div class="container">
        <h1>Next Bus</h1>
        <hr/>
        <div id="wrapper">
            <div id="over_map">
                <div class="tmpl-address"></div>
                <div class="tmpl-district-select"></div>
                <br/>
                <div class="tmpl-routes-select"></div>
                <br/>
                <div class="tmpl-stops-select"></div>
                <br/>
                <div class="tmpl-stop-prediction"></div>
            </div>
            <!--
            <div id="bus_time">
                <div class="tmp-schedule-table"></div>
            </div>
            -->
            <div id="map-canvas"/>
        </div>
    </div>

    <!-- Backbone templates -->

    <script type="text/template" id="address-template">
        <div class="view">
            <h5><button class="homebutton">Home</button> <%= address %></address>
        </div>
    </script>

    <script type="text/template" id="district-template">
        Districts: <select data-style="btn-success" id="district-selector">
        <% _.each(districts, function(district) {
                key = district.lat+ ',' + district.lon;
        %>
            <option value="<%= key %>"><%= district.region %></option>
        <% }); %>
        </select>
    </script>

    <script type="text/template" id="route-template">
        <%
            if (typeof routes != 'undefined') { %>
            Bus routes: <select data-style="btn-success" id="route-selector">
                <option value="-">-- select route --</option>
                <%
                 var index = 0;
                 _.each(routes, function(route) {
                    key = index + ':' + route.route.agencytag + ':' + route.route.routetag + ':' + route.route.latmin + ':' + route.route.lonmin;
                %>
                   <option value="<%= key %>"><%= route.route.title %></option>
                <%
                    index++;
                    }); %>
            </select>
            <br/>
        <% } else { %>
            No available bus routes in this area!
        <% } %>
    </script>

    <script type="text/template" id="stop-template">
        <%
            if (typeof stops != 'undefined') { %>
            Stops: <select data-style="btn-success" id="stop-selector">
                <option value="-">-- select stop --</option>
                <%
                 var index = 0;
                 _.each(stops, function(stop) {
                    key = stop.stop.tag;
                %>
                   <option value="<%= key %>"><%= stop.stop.title %></option>
                <%
                    index++;
                    }); %>
            </select>
            <br/>
        <% } else { %>
            No available stops for this route!
        <% } %>
    </script>

    <script type="text/template" id="prediction-template">
        <div style="height:300px;overflow: auto;">
            <table class="table table-striped table-bordered table-condensed">
                <%
                if(typeof predictions != 'undefined') {
                    _.each(predictions.directions, function(direction) {
                    %>
                    <tr>
                        <td colspan="2"><h5>Direction:<%= direction.direction.title %></h5></td>
                    </tr>
                    <tr><td>Minutes</td><td><h6>Arrives/Departs</h6></td></tr>
                    <%
                        _.each(direction.direction.predictions, function(prediction) {
                            %>
                    <tr>
                        <td><%= prediction.minutes %></td>
                        <% if (prediction.isDeparture) { %>
                        <td>Departs</td>
                        <% } else { %>
                        <td>Arrives</td>
                        <% } %>
                    </tr>

                            <%
                        });
                    });
                }

                %>
            </table>
        </div>
    </script>

    <script type="text/template" id="schedule-template">
        <h5>Schedule</h5>
        <br/>

                <div style="height:300px;overflow: auto;">
        <table class="table table-striped table-bordered table-condensed">
            <%
            if((typeof schedules != 'undefined') && (typeof schedules.route != 'undefined')) {
                _.each(schedules.route.schedule, function(schedule) {

                %>
                <tr>
                    <td><%= schedule.stop.title %></td>
                    <td><%= schedule.stop.time[0]%>:<%= schedule.stop.time[1]%>:<%= schedule.stop.time[2]%></td>
                </tr>
                <%
                });

                if(schedules.route.schedule.length == 0) {
                %>
                    No more service today.
                <%
                }
            }


            %>
        </table>
        </div>
    </script>

    <script src="js/nextbus.js"></script>

</body>
</html>