<!DOCTYPE html>
<html>
<head>
    <title>Next Bus</title>
    <!-- Twitter bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/nextbus.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="js/geoposition.js"></script>
</head>
<body>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8_nX9UAjPSNth57C0w1_v-5cZ5eL9Ex0&sensor=true"></script>
    <script type="text/javascript">
        var map;
        function initGoogleMaps(latitude, longitude) {
            console.log('Loading map');
            var latLng = new google.maps.LatLng(latitude, longitude);
            var mapOptions = {
                   center: latLng,
                   zoom: 16
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var marker = new google.maps.Marker({
                 position: latLng,
                 map: map,
                 title: 'You are here!'
            });
         }
    </script>

    <!-- Main page -->

    <div class="container">
        <h1>Next Bus</h1>
        <hr/>
        <div id="wrapper">
            <div id="over_map">
                <div class="tmpl-address"></div>
                <div class="tmpl-district-select"></div>
                <br/>
                <div class="tmpl-routes-select"></div>
            </div>
            <div id="bus_time">
                <div class="tmp-schedule-table"></div>
            </div>
            <div id="map-canvas"/>
        </div>
    </div>

    <!-- Backbone templates -->

    <script type="text/template" id="address-template">
        <div class="view">
            <h5><button class="homebutton">Home</button> <%= address %></address>
        </div>
    </script>

    <script type="text/template" id="district-template">
        Districts: <select data-style="btn-success" id="district-selector">
        <% _.each(districts, function(district) {
                key = district.lat+ ',' + district.lon;
        %>
            <option value="<%= key %>"><%= district.region %></option>
        <% }); %>
        </select>
    </script>

    <script type="text/template" id="route-template">
        <%
            if (typeof routes != 'undefined') { %>
            Bus routes: <select data-style="btn-success" id="route-selector">
                <option value="-">-- select route --</option>
                <%
                 _.each(routes, function(route) {
                    key = route.route.agencytag + ':' + route.route.routetag + ':' + route.route.latmin + ':' + route.route.lonmin;
                %>
                   <option value="<%= key %>"><%= route.route.title %></option>
                <% }); %>
            </select>
        <% } else { %>
            No available bus routes in this area!
        <% } %>
    </script>

    <script type="text/template" id="schedule-template">
        <h5>Schedule</h5>
        <br/>

                <div style="height:300px;overflow: auto;">
        <table class="table table-striped table-bordered table-condensed">
            <%
            if((typeof schedules != 'undefined') && (typeof schedules.route != 'undefined')) {
                _.each(schedules.route.schedule, function(schedule) {

                %>
                <tr>
                    <td><%= schedule.stop.title %></td>
                    <td><%= schedule.stop.time[0]%>:<%= schedule.stop.time[1]%>:<%= schedule.stop.time[2]%></td>
                </tr>
                <%
                });

                if(schedules.route.schedule.length == 0) {
                %>
                    No more service today.
                <%
                }
            }


            %>
        </table>
        </div>
    </script>

    <script src="js/nextbus.js"></script>

</body>
</html>